<a href="https://colab.research.google.com/github/AllamElsheikh/Projects/blob/main/03_Data_Preprocessing_(AI_14).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction to Pandas Data Structures

In [ ]:
import pandas as pd
import numpy as np

### **Series**

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
obj[0]

4

In [ ]:
obj2 = pd.Series([2, 3, -5, 4], index=['A', 'B', 'C', 'D'])
obj2

A    2
B    3
C   -5
D    4
dtype: int64

In [ ]:
obj2[3]

4

In [ ]:
obj2['C']

-5

In [ ]:
# will generate an error
#obj2[c]

In [ ]:
obj2

d    2
b    3
a   -5
c    4
dtype: int64

In [ ]:
obj2[['A', 'B', 'C']]

A    2
B    3
C   -5
dtype: int64

In [ ]:
# error
# obj2['a', 'b', 'c']

In [ ]:
new = np.exp(obj2)  # e^2     e = 2.7
new

A     7.389056
B    20.085537
C     0.006738
D    54.598150
dtype: float64

In [ ]:
obj2

A    2
B    3
C   -5
D    4
dtype: int64

In [ ]:
2.718**2

7.387524

In [ ]:
'e' in obj2

False

In [ ]:
'c' in obj2

True

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
type(sdata)

dict

In [ ]:
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
type(obj3)

pandas.core.series.Series

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas', 'Dalas']

obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Dalas             NaN
dtype: float64

In [ ]:
# Access an element , method 1
obj4.California = 60000
obj4

California    60000.0
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [ ]:
# Access an element , method 2
obj4['California'] = 60500
obj4

California    60500.0
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [ ]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Dalas             NaN
dtype: float64

In [ ]:
# Finding missing values  method 1
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
Dalas          True
dtype: bool

In [ ]:
# Finding missing values  method 2
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
Dalas          True
dtype: bool

In [ ]:
obj4.name = 'population'
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Dalas             NaN
Name: population, dtype: float64

# **DataFrame**

**A DataFrame represents a rectangular table of data and contains an ordered collection
of columns, each of which can be a different value type (numeric, string,
boolean, etc.).**

**The DataFrame has both a row and column index; it can be thought of
as a dict of Series all sharing the same index.**

In [ ]:
data_dict = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'population': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data_dict

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002, 2003],
 'population': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [ ]:
type(data_dict)

dict

In [ ]:
pop_df = pd.DataFrame(data_dict)
pop_df

    state  year  population
0    Ohio  2000         1.5
1    Ohio  2001         1.7
2    Ohio  2002         3.6
3  Nevada  2001         2.4
4  Nevada  2002         2.9
5  Nevada  2003         3.2

In [ ]:
pop_df.head(3)

  state  year  population
0  Ohio  2000         1.5
1  Ohio  2001         1.7
2  Ohio  2002         3.6

In [ ]:
pop_df.tail(3)

    state  year  population
3  Nevada  2001         2.4
4  Nevada  2002         2.9
5  Nevada  2003         3.2

In [ ]:
pop_df2=pd.DataFrame(data_dict, columns=['year', 'state', 'population'])
pop_df2

   year   state  population
0  2000    Ohio         1.5
1  2001    Ohio         1.7
2  2002    Ohio         3.6
3  2001  Nevada         2.4
4  2002  Nevada         2.9
5  2003  Nevada         3.2

In [ ]:
pop_df3=pd.DataFrame(data_dict, columns=['year', 'state', 'population' ,'column4'])
pop_df3

   year   state  population column4
0  2000    Ohio         1.5     NaN
1  2001    Ohio         1.7     NaN
2  2002    Ohio         3.6     NaN
3  2001  Nevada         2.4     NaN
4  2002  Nevada         2.9     NaN
5  2003  Nevada         3.2     NaN

In [ ]:
frame2_df = pd.DataFrame(data_dict, columns=['year', 'state', 'population', 'debt'],
    index=['one', 'two', 'three', 'four','five', 'six'])


frame2_df

       year   state  population debt
one    2000    Ohio         1.5  NaN
two    2001    Ohio         1.7  NaN
three  2002    Ohio         3.6  NaN
four   2001  Nevada         2.4  NaN
five   2002  Nevada         2.9  NaN
six    2003  Nevada         3.2  NaN

In [ ]:
frame2_df.columns

Index(['year', 'state', 'population', 'debt'], dtype='object')

In [ ]:
frame2_df.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [ ]:
frame2_df ['year']

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [ ]:
frame2_df

       year   state  population debt
one    2000    Ohio         1.5  NaN
two    2001    Ohio         1.7  NaN
three  2002    Ohio         3.6  NaN
four   2001  Nevada         2.4  NaN
five   2002  Nevada         2.9  NaN
six    2003  Nevada         3.2  NaN

In [ ]:

frame2_df.loc['three']

year          2002
state         Ohio
population     3.6
debt           NaN
Name: three, dtype: object

In [ ]:
frame2_df['debt'] = 16.5
frame2_df

       year   state  population  debt
two    2001    Ohio         1.7  16.5
three  2002    Ohio         3.6  16.5
four   2001  Nevada         2.4  16.5
five   2002  Nevada         2.9  16.5
six    2003  Nevada         3.2  16.5

In [ ]:
frame2_df

       year   state  population  debt
two    2001    Ohio         1.7  16.5
three  2002    Ohio         3.6  16.5
four   2001  Nevada         2.4  16.5
five   2002  Nevada         2.9  16.5
six    2003  Nevada         3.2  16.5

In [ ]:
frame2_df['debt']['two']=19
frame2_df.debt['three']= 21

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
frame2_df.transpose()

             one   two three    four    five     six
year        2000  2001  2002    2001    2002    2003
state       Ohio  Ohio  Ohio  Nevada  Nevada  Nevada
population   1.5   1.7   3.6     2.4     2.9     3.2
debt        18.0  19.0  21.0    16.5    16.5    16.5

In [ ]:
frame2_df.T

             one   two three    four    five     six
year        2000  2001  2002    2001    2002    2003
state       Ohio  Ohio  Ohio  Nevada  Nevada  Nevada
population   1.5   1.7   3.6     2.4     2.9     3.2
debt        18.0  19.0  21.0    16.5    16.5    16.5

In [ ]:
frame2_df

       year   state  population  debt
one    2000    Ohio         1.5  18.0
two    2001    Ohio         1.7  19.0
three  2002    Ohio         3.6  21.0
four   2001  Nevada         2.4  16.5
five   2002  Nevada         2.9  16.5
six    2003  Nevada         3.2  16.5

In [ ]:
frame2_df.drop('one', axis=0, inplace=True)
frame2_df

       year   state  population  debt
two    2001    Ohio         1.7  19.0
three  2002    Ohio         3.6  21.0
four   2001  Nevada         2.4  16.5
five   2002  Nevada         2.9  16.5
six    2003  Nevada         3.2  16.5

In [ ]:
frame2_df.drop('debt', axis=1, inplace=True)
frame2_df

       year   state  population
two    2001    Ohio         1.7
three  2002    Ohio         3.6
four   2001  Nevada         2.4
five   2002  Nevada         2.9
six    2003  Nevada         3.2

In [ ]:
frame2_df

       year   state  population  debt
two    2001    Ohio         1.7  19.0
three  2002    Ohio         3.6  21.0
four   2001  Nevada         2.4  16.5
five   2002  Nevada         2.9  16.5
six    2003  Nevada         3.2  16.5

In [ ]:
X= frame2_df[['year','state','population']]
X

       year   state  population
two    2001    Ohio         1.7
three  2002    Ohio         3.6
four   2001  Nevada         2.4
five   2002  Nevada         2.9
six    2003  Nevada         3.2

In [ ]:
X1= frame2_df.drop('debt',axis=1)
X1

       year   state  population
two    2001    Ohio         1.7
three  2002    Ohio         3.6
four   2001  Nevada         2.4
five   2002  Nevada         2.9
six    2003  Nevada         3.2

In [ ]:
y=frame2_df['debt']
y

two      19.0
three    21.0
four     16.5
five     16.5
six      16.5
Name: debt, dtype: float64

In [ ]:
import pandas as pd
import numpy as np

"""### **Series**"""

obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64